
html, body {
  margin:0;
}

h1 {
  font-size: 3rem
}
h2 {
  font-size: 2rem
}
h3 {
  font-size: 1.5rem
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 0.75rem;
}